<!DOCTYPE html>
<html lang="en">
<head>

    <%-include('partials/head.ejs')%>

    <title>Decode Blog</title>
</head>
<body>
    
    <%-include('partials/header.ejs')%>

    <div class="container">
        <div class="main">
            <div class="main_1">
                <h2>Блоги по программированию</h2>
                <p>Популярные и лучшие публикации по программированию для начинающих и профессиональных программистов и IT-специалистов.</p>
            </div>
            <a href="/post"><div class="main_post">
                <img src="/images/main_1.png" alt="image1">
                <h3>Обзор Report Manager от Webix</h3>
                <p>Осень 2020 года стала плодотворным временем для специалистов Webix.</p>
                <p>Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix с двумя новыми комплексными виджетами. Первый - зто Scheduler, о котором мы подробно говорили ранее. Второй виджет - это Gantt chart в JavaScript. Подробную информацию об этом виджете Вы можете найти в статье.</p>
                <p>Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом Report Manager. Давайте рассмотрим его.</p>
            </div></a>
            <div class="post_info">
                <div>
                    <img class="post_img" src="images/icons/calendar.png" alt="calendar">
                    <p class="post_p">26.06.2020</p>
                </div>
                <div>
                    <img class="post_img" src="images/icons/eye.png" alt="eye">
                    <p class="post_p">21</p>
                </div>
                <div>
                    <img class="post_img" src="images/icons/comment.png" alt="comment">
                    <p class="post_p">4</p>
                </div>
                <div>
                    <img class="post_img" src="images/icons/Path.png" alt="path">
                    <p class="post_p">Веб-разработка</p>
                </div>
                <div>
                    <img class="post_img" src="images/icons/Vector.png" alt="user">
                    <p class="post_p">Nast1289</p>
                </div>
            </div>
            <div class="main_post">
                <img class="main_3_img" src="/images/main_2.png" alt="">
                <h3>Разработчики изобрели методологию высокоскоростного программирования</h3>
                <p>Осень 2020 года стала плодотворным временем для специалистов Webix.</p>
                <p>Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix с двумя новыми комплексными виджетами. Первый - зто Scheduler, о котором мы подробно говорили ранее. Второй виджет - это Gantt chart в JavaScript. Подробную информацию об этом виджете Вы можете найти в статье.</p>
                <p>Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом Report Manager. Давайте рассмотрим его.</p>
            </div>
            <div class="post_info">
                <div>
                    <img class="post_img" src="images/icons/calendar.png" alt="calendar">
                    <p class="post_p">26.06.2020</p>
                </div>
                <div>
                    <img class="post_img" src="images/icons/eye.png" alt="eye">
                    <p class="post_p">21</p>
                </div>
                <div>
                    <img class="post_img" src="images/icons/comment.png" alt="comment">
                    <p class="post_p">4</p>
                </div>
                <div>
                    <img class="post_img" src="images/icons/Path.png" alt="path">
                    <p class="post_p">Веб-разработка</p>
                </div>
                <div>
                    <img class="post_img" src="images/icons/Vector.png" alt="user">
                    <p class="post_p">Nast1289</p>
                </div>
            </div>
        </div>
        <div class="navi">
            <h2>Категории</h2>
                <% 
                    categories.forEach((category) => {
                %>
                    <li>
                        <a href=""><%=category.name%></a>
                    </li>
                <%
                    })
                %>
        </div>
    </div>

</body>
</html>