.main{
    padding: 50px 20px;
    background-color: #fff;
    min-height: 75vh;
    width: 80%;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}

.container {
    margin-top: 50px;
    padding: 100px 5% 50px;
    background-color: #f4f4f4;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    gap: 20px;
}

.navi {
    padding: 43px 30px 30px 30px;
    background-color: #fff;
    min-height: 75px;
    width: 20%;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
    height: fit-content;
}

.navi h2{
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 35px;
}

.navi li{
    list-style-type: none;
    margin-bottom: 10px 0;
    border-bottom: 1px solid #E7E7E7;
    padding: 10px 0;
}

.navi a{
    text-decoration: none;
    color: #007BFF;
}

